<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f792cf">  <td>17/03/19 16:35:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AddIstrazivacTitulaMultipleSelect.setupSelenium()[pri:0, instance:ispit.AddIstrazivacTitulaMultipleSelect@3c756e4d]">&gt;&gt;setupSelenium</td> 
<td>&nbsp;</td>  <td>main@1268650975</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>17/03/19 16:36:15</td>   <td>19555</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddIstrazivacTitulaMultipleSelect.addIstrazivacPogresanDatum()[pri:0, instance:ispit.AddIstrazivacTitulaMultipleSelect@3c756e4d]">addIstrazivacPogresanDatum</td> 
  <td>main@1268650975</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>17/03/19 16:36:24</td>   <td>28730</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddIstrazivacTitulaMultipleSelect.closeSelenium()[pri:0, instance:ispit.AddIstrazivacTitulaMultipleSelect@3c756e4d]">&lt;&lt;closeSelenium</td> 
<td>&nbsp;</td>  <td>main@1268650975</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>17/03/19 16:36:24</td>   <td>29097</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AddIstrazivacTitulaMultipleSelect.setupSelenium()[pri:0, instance:ispit.AddIstrazivacTitulaMultipleSelect@3c756e4d]">&gt;&gt;setupSelenium</td> 
<td>&nbsp;</td>  <td>main@1268650975</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>17/03/19 16:36:44</td>   <td>49193</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddIstrazivacTitulaMultipleSelect.dodajIstrazivaca()[pri:0, instance:ispit.AddIstrazivacTitulaMultipleSelect@3c756e4d]">dodajIstrazivaca</td> 
  <td>main@1268650975</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>17/03/19 16:37:11</td>   <td>75999</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddIstrazivacTitulaMultipleSelect.closeSelenium()[pri:0, instance:ispit.AddIstrazivacTitulaMultipleSelect@3c756e4d]">&lt;&lt;closeSelenium</td> 
<td>&nbsp;</td>  <td>main@1268650975</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>17/03/19 16:37:12</td>   <td>76321</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AddIstrazivacTitulaMultipleSelect.setupSelenium()[pri:0, instance:ispit.AddIstrazivacTitulaMultipleSelect@3c756e4d]">&gt;&gt;setupSelenium</td> 
<td>&nbsp;</td>  <td>main@1268650975</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>17/03/19 16:37:34</td>   <td>98694</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddIstrazivacTitulaMultipleSelect.login()[pri:0, instance:ispit.AddIstrazivacTitulaMultipleSelect@3c756e4d]">login</td> 
  <td>main@1268650975</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>17/03/19 16:38:03</td>   <td>127404</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddIstrazivacTitulaMultipleSelect.closeSelenium()[pri:0, instance:ispit.AddIstrazivacTitulaMultipleSelect@3c756e4d]">&lt;&lt;closeSelenium</td> 
<td>&nbsp;</td>  <td>main@1268650975</td>   <td></td> </tr>
</table>
