<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a1c291">  <td>17/05/15 18:01:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExecomTest.ReserveaCupOfCoffe()[pri:0, instance:execomsajtvezba.ExecomTest@75f32542]">ReserveaCupOfCoffe</td> 
  <td>main@910091170</td>   <td></td> </tr>
<tr bgcolor="a1c291">  <td>17/05/15 18:01:34</td>   <td>1800</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExecomTest.closeSelenium()[pri:0, instance:execomsajtvezba.ExecomTest@75f32542]">&lt;&lt;closeSelenium</td> 
<td>&nbsp;</td>  <td>main@910091170</td>   <td></td> </tr>
<tr bgcolor="a1c291">  <td>17/05/15 18:01:23</td>   <td>-9722</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ExecomTest.setupSelenium()[pri:0, instance:execomsajtvezba.ExecomTest@75f32542]">&gt;&gt;setupSelenium</td> 
<td>&nbsp;</td>  <td>main@910091170</td>   <td></td> </tr>
</table>
